.map-placeholder {
  position: relative;
  height: 500px; /* Adjusted to match the height in the component */
  width: 100%; /* Ensure the map takes the full width */
  background-color: #f0f0f0;
}

.map-text {
  font-size: 18px;
  color: #666;
}